*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: #F1F1E7;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F1F1E7;
    text-align: center;
    margin: 0;
}

.nav-container{
    color: #ffffff;
    background-color: #000000;
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 20px;
}

a{

  text-decoration: none;
  color: white;
  background: none;
  border: none;
  outline: none;  
  font-weight: 700;
    
}


.gallery {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 20px;
}


figure {
background-color: white;
border-radius: 8px;
box-shadow: 0 2px 5px rgba(0,0,0,0.1);
overflow: hidden;
width: 400px;
margin: 0;
}


img {
width: 100%;
height: auto;
display: block;
}


figcaption {
padding: 10px;
font-size: 1rem;
color: #333;
background-color: #fff;
}

.titulo{
    margin: 12px;
    text-align: start;
}