*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F1F1E7;
    text-align: center;
    margin: 0;
}

.nav-container{
    color: #ffffff;
    background-color: #000000;
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 20px;
}

a{

  text-decoration: none;
  color: white;
  background: none;
  border: none;
  outline: none;  
  font-weight: 700;
    
}

.nav-links {
  display: flex;
  gap: 20px;
}


.menu-toggle {
  display: none;
  font-size: 25px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    /*display: none; 
    flex-direction: column;
    background-color: #000000;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 15px 0;*/
    display: flex;
    flex-wrap: wrap;
    
  }

  .nav-links a {
    display: block;
    padding: 10px 0;
  }

  .menu-toggle {
    display: block;
  }

  .nav-links.active {
    display: flex; /* Muestra el menú cuando se activa */
  }
}


.gallery {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 20px;
}


figure {
background-color: white;
border-radius: 8px;
box-shadow: 0 2px 5px rgba(0,0,0,0.1);
overflow: hidden;
width: 400px;
margin: 0;
}


img {
width: 100%;
height: auto;
display: block;
}


figcaption {
padding: 10px;
font-size: 1rem;
color: #333;
background-color: #fff;
}

.titulo{
    margin: 12px;
    text-align: start;
}