*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: #F1F1E7;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F1F1E7;
}

.nav-container{
    color: #ffffff;
    background-color: #000000;
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 20px;
}

a{

  text-decoration: none;
  color: white;
  background: none;
  border: none;
  outline: none;  
  font-weight: 700;
    
}

img{
    width: 200px;
    border-radius: 12px;
}

.container_init{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 100px;
}

.socials{
    padding: 12px 0;
    /*background-color: aqua;*/
    
}

.socials a{
    /*background-color: red;*/
    display: inline-flex;
    justify-items: center;
    
}

.socials img{
    width: 50px;
}

/*About me css*/

.container_aboutme{
    display: flex;
    width: 70%;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    padding-top: 50px;
    /*background-color: red;*/
    flex-wrap: wrap;
    justify-content: center;
}

.container_about{
    width: 70%;

}
.container_about p{
    line-height: 1.2;

}
/*Servicios*/
/*Experiencia*/
.container{
   width: 70%;
   margin: 0 auto;
   margin-top: 20px;
}

.header{
  margin-bottom:1rem;
  text-align:left;
}
.header h1{
  margin:0 0 0.25rem 0;
}
.header .subtitle{
  margin:0;
  color:var(--muted);
}

.card{
  width: 100% ;
  display: inline-block;
  align-items: center;
  box-shadow: 0 6px 18px rgba(2,6,23,0.6);
  margin: 12px auto;
  padding: 12px;
  border-radius: 12px;
  align-content: end;
}

.card-header{
    margin-bottom: 12px;
}

.card-footer{
  margin-top: 10px;
  background-color: #000000;
    display: inline-block;
    padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.card-gallery{
  display: flex;          /* Activa el modo "en fila" */
  gap: 1rem;              /* Espacio entre las cartas */
  justify-content: center;/* Centra las cartas horizontalmente */
  
}